androguard
fastapi
groq
httpx
pdfminer.six
pillow
python-dotenv
python-magic-bin ; sys_platform == 'win32'
python-magic ; sys_platform != 'win32'
pydantic
requests
slowapi
supabase
uvicorn

