androguard
fastapi
groq
httpx
pdfminer.six
pillow
python-dotenv
python-magic-bin ; sys_platform == 'win32'
python-magic ; sys_platform != 'win32'
pydantic
email-validator
python-multipart
requests
slowapi
supabase
uvicorn
beautifulsoup4
playwright
whois
python-Levenshtein
redis
oletools
pefile
qrcode[pil]
apscheduler
